:root {
  --lighter-text-color: #0FA4Af;
  --darker-text-color: #024950;
  --background-color: #AFDDE5;
}

html[data-theme="dark"] {
  --lighter-text-color: #AFDDE5;
  --darker-text-color: #024950;
  --background-color: #0FA4Af;
}

html[data-theme="light"] {
  --lighter-text-color: #0FA4Af;
  --darker-text-color: #024950;
  --background-color: #AFDDE5;
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme]) {
    --lighter-text-color: #AFDDE5;
    --darker-text-color: #024950;
    --background-color: #0FA4Af;
  }
}

body {
  background-color: var(--background-color);
  color: var(--lighter-text-color);
  font-family: "DynaPuff", system-ui;
  margin: auto;
  max-width: 70ch;
}


.dynapuff{
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
}